<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<form action="/login" method="post">
    用户名：<input type="text" name="username"><br>
    密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"><br>
    <!-- 隐藏域用来保存登录成功之后回调的地址 - 即从哪个页面来，就要回到哪个页面去 -->
    <input type="hidden" name="url" th:value="${url != null?url:''}">
    <input type="submit" value="登录" style="margin-left: 190px">
</form>
</body>
</html>
